<p id="notice"><%= notice %></p>

<h1>Orders</h1><br>

<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <p>Order # <%= order.id %>:</p>
      <h5>
        <%= link_to order.product.name, order %>
      </h5>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.price %></strong>
    </div><!-- /col -->
  <% end %>
</div>
