<div class="col-sm">
  <!-- <a href="#"><h3><%= product.name %></h3></a> -->
  <h3><%= link_to product.name, product %></h3>
  <div class="img-center img-fluid">
    <!-- <%= image_tag(product.image_url, class: "img-fluid") unless product.image_url.nil? %> -->
    <%= image_tag(product.image_url, size: "400x300") unless product.image_url.nil? %>
  </div>
  <p>
    <%= product.description %><br>
    (<%= product.colour %>)</p>
  <strong>$ <%= product.price %><br></strong>
  <br>
  <p>
    <%= link_to 'Show', product %> |
    <%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>
