<div class="col-sm">
  <!-- <a href="#"><h3><%= product.name %></h3></a> -->
  <h3><%= link_to product.name, product %></h3>
  <%= image_tag(product.image_url, class: "img-fluid") unless product.image_url.nil? %>
  <p><%= product.description %><br> (<%= product.colour %>)</p>
  <strong>$ <%= product.price %><br></strong>
  <br>
  <%= link_to 'Show', product %>
  <%= link_to 'Edit', edit_product_path(product) %>
  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
