<h1>
  <%= @product.name %>
</h1>

<div class="text-center">
  <!-- class: "img-fluid", size: "200x200" -->
  <%= image_tag(@product.image_url, class: "img-thumbnail img-fluid", alt: "Responsive image") unless @product.image_url.nil? %>
</div>

<div class="text-center">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <!-- <%= link_to 'Back', products_path %> -->
  <%= link_to 'Back', request.referer.present? ? request.referer : products_path %>
</div>

<p>
  <br>
  <i class="far fa-file-alt"></i>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <i class="fas fa-link"></i>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <i class="fas fa-palette"></i>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <i class="fas fa-dollar-sign"></i>
  <strong>Price:</strong>
  $<%= @product.price %>
</p>

<p>
  <i class="fas fa-star-half-alt"></i>
  <strong>Average Rating:</strong>
  <div class="rated" data-score="<%= @product.average_rating %>"></div>
</p>

<div class="text-center">
  <%= form_with(url: '/payments/create') do |form| %>
    <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
</div>

<p>
  <br>
  <i class="far fa-comments"></i>
  <strong>Comments:</strong>
  <!-- @product.highest_rating_comment -->
</p>

<!-- <div class="comments-wrapper"></div> -->

<%= render "comments" %>
<%= render "new_comment" %>
