<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<%= image_tag(@product.image_url, class: "img-fluid", size: "160x100") unless @product.image_url.nil? %>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  $ <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<!-- <%= link_to 'Back', products_path %> -->
<%= link_to 'Back', request.referer.present? ? request.referer : products_path %>
